body{
	margin: 0;
	background-color: black;
}

#gameContainer{
	width: 100%;
    height:100%;
	margin: 0px auto;
	margin-top: 4%;
	text-align: center;
}

#p1{
	float: left;
	color: blue;
	font-weight: bold;
	margin-left: 50px;
	font-size: 30px;
}

#p2{
	float: right;
	color: red;
	font-weight: bold;
	margin-right: 50px;
	font-size: 30px;
}

#player1{
	margin-left: auto;
	margin-right: auto;
	float: left;
	height: 150px;
	margin-top: 100px;
}

#player2{
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	margin-top: 100px;
}

#theGame{
    border: 1px solid #0000ff;
}

.cell{
    float: left;
    outline: black solid 1px;
}

#logo{
    display: block;
    margin: 0 auto;
}

#top, #bottom, #left, #right {
	background: darkred;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 30px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 30px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }