<img id="logo" src="../chromerace/img/ChromeTronLogo4Vita.svg">
 <br>
 <div id="players">
 <img id="player1" src="../chromerace/img/player1.svg">
 <img id="player2" src="../chromerace/img/player2.svg">
 </div>
 <div id="playerText">
 <p id="infoLobby">Waiting for two players to connect their android devices</p>
 </div>
<div>
</div>